pandas
cx_Oracle
flask
flask_restful
flask_jwt_extended
requests
flask_sqlalchemy
flask_apispec
marshmallow
flask_cors
networkx
scikit-learn
gunicorn
ldap3
cryptography
graphene
graphql-server
beautifulsoup4
playwright
scrapy
scrapy_playwright
crochet
pysolr